<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Book Store</title>
		<link href="assets/css/main.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<div id="contend"></div>

		<!-- Templates -->
		<script type="text/template" id="contentTemplate">
			<div class="message"></div>
			<div id="usersAcc">
				<% if(this.user.id) { %>
					<div id="profileContainer">
						<% if(this.user.get('avatar') !== null) { %>
							<img class="profileImage" src="assets/users/user-<%= this.user.id + '/' + this.user.get('avatar') %>"/>;
						<% } else { %>
							<img class="profileImage" src="assets/images/rsz_profile.png" />;
						<% } %>
						<form action="" method="POST" id="holdImageUpload" enctype='multipart/form-data'>
							<input type="file" id="imageUpload" name="profilePhoto" placeholder="Photo" required="" />
						</form>
					</div>
					<span>Welcome <%= this.user.get('name') %></span><br>
					<a id="logout" href='#'><span>Logout</span></a>
				<% } else { %>
					<a href='#login'><span>Login</span></a>
					<span> | </span>
					<a href='#signIn'><span>Sign up</span></a>
				<% } %>
			</div>
			<div id="container">
				<div id="holdH">
					<h1>Welcome to our book creation platform!</h1>
					<% if(this.user.id) { %>
						<div class="addBook">
							<a href="#addBook">
								<span class="span"> + </span>
								<span> Book </span>
							</a>
						</div>
					<% } %>
				</div>
			</div>
			<% if(this.collection.models.length) { %>
				<div class="holdBooks">

				</div>
			<% } %>
		</script>
		<script type="text/template" id="signInTemplate">
			<div class="message"></div>
			<div class="container">
				<h2>User Registration</h2>
				<hr>
				<form id="addUser" autocomplete="off">
					<div class="input">
						<div class="controls">
							<input type="text" id="name" name="name" placeholder="Name" />
							<p><span class="help-block"></span></p>
                            <div class="controlError"></div>
						</div>
					</div>
					<div class="input">
						<div class="controls">
							<input type="email" id="email" name="email" placeholder="Email" />
							<p><span class="help-block"></span></p>
                            <div class="controlError"></div>
                        </div>
					</div>
					<div class="input">
						<div class="controls">
							<input type="password" id="password" name="password" placeholder="Password" />
							<p><span class="help-block"></span></p>
                            <div class="controlError"></div>
						</div>
					</div>
					<div class="input">
						<div class="controls">
							<input type="password" id="confPassword" name="confPassword" placeholder="Confirm password" />
							<p><span class="help-block"></span></p>
                            <div class="controlError"></div>
						</div>
					</div>
					<div id="radioGender">
						<div class="controls">
							<label for="genderMale">
								<input type="radio" id="genderMale" name="gender" value="Male" />Male
							</label>
							<label for="genderFemale">
								<input type="radio" id="genderFemale" name="gender" value="Female" />Female
							</label>
							<div class="controlError"></div>
						</div>
					</div>
					<div class="input">
						<div>
							<input type="submit" name="registerSubmit" value="Submit"/>
						</div>
					</div>
				</form>
				<p>Already have an account login <a href="#login"><span>here</span></a></p>
			</div>

		</script>
		<script type="text/template" id="loginTemplate">
			<div class="message"></div>
			<div class="container">
				<div class="form">
					<h2>Login</h2>
					<hr>
					<form autocomplete="off" id="loginForm">
						<label>Email</label>
						<div class="input">
							<div class="controls">
								<input type="email" name="logEmail" placeholder="Email" id="logEmail"/>
                                <p><span class="help-block"></span></p>
                                <div class="controlError"></div>
							</div>
						</div>
						<label>Password</label>
						<div class="input">
							<div class="controls">
								<input type="password" name="logPassword" placeholder="Password" id="logPassword"/>
                                <p><span class="help-block"></span></p>
                                <div class="controlError"></div>
							</div>
						</div>
						<div class="input">
							<div>
								<input type="submit" name="login" value="Login"/>
							</div>
						</div>
					</form>
				</div>
				<p>Forgotten password? Click <a href="#forgotten">here</a></p>
				<p>Don't have an account? Sign from <a href="#signIn"><span>here</span></a></p>
			</div>
		</script>
		<script type="text/template" id="addBookTemplate">
			<div class="message"></div>
			<div class="container">
				<h2>New Book</h2>
				<hr>
				<form enctype="multipart/form-data" id="newBooks" action="assets/php/setBook.php" autocomplete="off" >
					<div class="controls">
						<label>Title:</label><br>
						<input type="text" value="" name="title" placeholder="Title" /><br>
					</div>
					<div class="controls">
						<label>Genre:</label><br>
						<input type="text" value="" name="genre" placeholder="Genre" /><br>
					</div>
					<div class="controls">
						<label>Author:</label><br>
						<input type="text" value="" name="author" placeholder="Author" /><br>
					</div>
					<div class="controls">
						<label>Pages:</label>
						<input type="button" name="addPage" value="New Page" />
					</div>
					<input type="button" name="removePage" disabled="disabled" value="Clear" />
					<input type="search" name="search"  placeholder="Go to page"/>
					<div class="holdAllPage">
						<div id="1" style="z-index: 0;" class="holdPage">
							<span>Page 1</span>
							<textarea class="textarea" name="pages"></textarea>
							<input type="hidden" name="page1" />
						</div>
					</div>
					<label>Cover:</label><br>
					<input type="file" name="userFiles" id="userFiles" multiple="multiple" value="Choose Image" /><br>
					<img src="" height="200" />
					<div class="input">
						<div>
							<input type="submit" id="createBook" name="createBook" value="Create Book"/>
						</div>
					</div>
					<button class="backToMain"><a href="">Back to main!</a></button>
				</form>
			</div>
		</script>
		<script type="text/template" id="verifyTemplate">
			<div class="container">

			</div>
		</script>
		<script type="text/template" id="forgottenTemplate">
			<div class="message"></div>
			<div class="center">
				<h2>To reset your password, please fill out the form below and we'll get back to you.</h2>
				<hr>
				<div class="container">
					<form id="redeemPasswordForm" autocomplete="off">
						<div class="input">
							<div class="controls">
								<input type="email" name="forEmail" placeholder="Email" id="forEmail"/>
								<p><span class="help-block"></span></p>
								<div class="controlError"></div>
							</div>
						</div>
						<div class="input">
							<div>
								<input type="submit" name="send" value="Send"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</script>
		<script type="text/template" id="newPasswordTemplate">
			<div class="message"></div>
			<div class="center">
				<h2>To reset your password, please fill out the form below.</h2>
				<hr>
				<div class="container">
					<form id="newPasswordForm" autocomplete="off">
						<div class="input">
							<div class="controls">
								<input type="password" name="newPassword" placeholder="Password" id="newPassword"/>
								<p><span class="help-block"></span></p>
								<div class="controlError"></div>
							</div>
						</div>
                        <div class="input">
                            <div class="controls">
                                <input type="password" name="confNewPassword" placeholder="Confirm Password" id="confNewPassword"/>
                                <p><span class="help-block"></span></p>
                                <div class="controlError"></div>
                            </div>
                        </div>
						<div class="input">
							<div>
								<input type="submit" name="send" value="Send"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</script>
		<script type="text/template" id="invalidPageTemplate">
			<div class="center">
				<img id="invalidPage" src="assets/images/InvalidPage.png"/>
				<a href="#">Go Home</a>
			</div>
		</script>
		<script type="text/template" id="holdBooksTemplate">
				<img class="imageFromSql" src="<%= this.model.get('cover') ? this.model.get('cover') : 'assets/images/noImage.jpg' %>"/>
				<div class="info">
					<p class="title">Title: <span><%= this.model.get('title') %></span></p>
					<p class="genre">Genre: <span><%= this.model.get('genre') %></span></p>
					<p class="author">Author: <span><%= this.model.get('author') %></span> </p>
					<p class="created">Created: <span><%= moment.unix(this.model.get('create_at')).format("MM/DD/YYYY") %></span></p>
					<p class="Page">Pages: <span><%= this.model.get('count_pages') %></span></p>
				</div>
		</script>
		<!-- Templates End -->

		<!-- Library -->
		<script src="assets/js/library/underscore.js"></script>
		<script src="assets/js/library/jquery-3.2.1.min.js"></script>
		<script src="assets/js/library/backbone.js"></script>
		<script src="assets/js/library/moment.js"></script>
		<script src="assets/js/library/backbone-validation.js"></script>
		<!-- Library End -->

		<!-- Scripts -->
		<script src="assets/js/utils.js"></script>
		<script src="assets/js/main.js"></script>
		<!-- Scripts End -->

		<!-- Models -->
		<script src="assets/js/models/addBookModel.js"></script>
		<script src="assets/js/models/loginModel.js"></script>
		<script src="assets/js/models/signInModel.js"></script>
		<script src="assets/js/models/verifyModel.js"></script>
		<script src="assets/js/models/forgottenModel.js"></script>
		<script src="assets/js/models/newPasswordModel.js"></script>
		<script src="assets/js/models/userModel.js"></script>
		<script src="assets/js/models/booksModel.js"></script>
		<!-- Models End -->

		<!-- Collections -->
		<script src="assets/js/collections/booksCollection.js"></script>
		<!-- Collections End -->

		<!-- Views -->
		<script src="assets/js/views/BaseView.js"></script>
		<script src="assets/js/views/BaseCredential.js"></script>
		<script src="assets/js/views/content.js"></script>
		<script src="assets/js/views/login.js"></script>
		<script src="assets/js/views/signIn.js"></script>
		<script src="assets/js/views/addBook.js"></script>
		<script src="assets/js/views/start.js"></script>
		<script src="assets/js/views/verify.js"></script>
		<script src="assets/js/views/forgotten.js"></script>
		<script src="assets/js/views/newPassword.js"></script>
		<script src="assets/js/views/invalidPage.js"></script>
		<script src="assets/js/views/book.js"></script>
		<script src="assets/js/views/books.js"></script>
		<!-- Views End -->

		<!-- Router -->
		<script src="assets/js/routers/router.js"></script>
		<!-- Router End -->
	</body>
</html>