

body {
    padding:0;
    outline:0;
    border:0;
    margin:0;
}

#container {
    width: auto;
    max-width: 80%;
    margin: 0 auto;
}

#holdH h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier','monospace';
    margin-bottom: 50px;
    text-decoration: underline;
}

#usersAcc {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 160px;
    text-align: center;
}

#usersAcc a, .container > p a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: "Courier", monospace;
    transition: ease-in 0.3s;
    text-decoration: none;
}

#usersAcc a:hover, .container > p a:hover {
    color: orange;
}

.container > p a {
    color: darkorchid;
}

#usersAcc a:active > span, .container > p a:active > span {
    font-size: 20px;
}

#profileContainer {
    border:1px solid #ccc;
    width: 66px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

#holdImageUpload {
    display: none;
}

.profileImage {
    cursor: pointer;
}

#profileContainer img {
    width: 70px;
    height: 70px;
    margin: -1px 0 0 -1px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
.input-opt {
    width:93%;
    height:30px;
    border-radius: 5px;
    color: gray;
    font-size:16px;
    font-family:sans-serif, Arial;
    outline:none;
    border:2px solid #ddd;
    text-indent: 7px;
}

div.addBook {
    margin-bottom: 10px;
}

div.addBook a {
    padding: 8px;
    border-radius: 20px;
    outline: none;
    background-color: #ddd;
    color: #000;
    text-decoration: none;
}
div.AddBook a span {
    font-size: 16px;
    font-family: "Courier", monospace;
    font-weight: bold;
}

div.addBook a:hover {
    background: rgba(0,0,0,0);
    color: orange;
    box-shadow: inset 0 0 0 3px orange;
}

.popup-inner {
    max-width:500px;
    width:90%;
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

div.addBook {
    margin-bottom: 10px;
}
div.addBook a {
    padding: 8px;
    border-radius: 20px;
    outline: none;
    background-color: #ddd;
    color: #000;
    text-decoration: none;
}
div.AddBook a span {
    font-size: 16px;
    font-family: "Courier", monospace;
    font-weight: bold;
}

div.addBook a:hover {
    background: rgba(0,0,0,0);
    color: orange;
    box-shadow: inset 0 0 0 3px orange;
}

.popup-inner {
    max-width:500px;
    width:90%;
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

#newBook {
    margin-bottom:50px;
}
label {
    font-weight:bold;
    margin-left:13px;
}

#newBooks input {
    margin:10px;
    cursor: pointer;
}

.holdAllPage {
    position: relative;
    left: 10px;
    margin:0;
    padding:0;
    height:100px;
}

.input  {
    position: relative;
    display: inline-block;
    width: 100%;
}


div.error {
    margin: auto 10px;
    display: inline-block;
}

.holdPage {
    height: 96px;
    width: 92%;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: absolute;
    background: #fff;
}

.holdPage span {
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 200%;
    margin: 0 auto;
    position: absolute;
    left:0;
    right:0;
}

textarea.textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    z-index: 1;
    position: absolute;
    background: rgba(0,0,0,0);
}

input[type="search"] {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    text-indent: 6px;
}

.container {
    width: 28%;
    margin: 50px auto;
    padding: 15px;
    position: relative;
    border-radius: 35px;
    background: #c5c5c5;
}

.container h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier','monospace';
}

.container h2, .container hr {
    margin-bottom: 25px;
}

#radioGender {
    color: #000;
    font-family: sans-serif, Arial;
    margin: 10px 0;
}

.backToMain {
    position: absolute;
    right: 28px;
    bottom: 25px;
}

a.deleteX {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

a.deleteX:hover {
    background: #ccc;
    border:1px solid #ccc;
    border-radius: 11px;
}

a {
    color: #000;
    text-decoration: none;
}

.red {
    margin: 0 auto;
    text-align: center;
}

div#success {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    background: green;
    font-family: "Courier", monospace;
    font-weight: bold;
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
}

.holdBooks {
    width: auto;
    max-width: 80%;
    background: #ccc;
    border-radius: 7px;
    padding: 10px;
    margin: 0 auto;
}

.bookInfo {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 250px;
    padding: 10px;
}

.bookInfo:hover {
    outline:1px solid #000;
}

/*.bookInfo .littleImage {*/
/*width:188px;*/
/*height:138px;*/
/*cursor: pointer;*/
/*}*/

.holdLittleImage:hover {
    outline:1px solid #000;
}

.bookInfo div.holdLittleImage {
    display: inline-block;
    margin:6px;
}

div img.imageFromSql {
    width: 70%;
    height: 100%;
    cursor: pointer;
    border-radius: 50px;
}

div.info {
    width: 30%;
    height: 250px;
    position: absolute;
    display: inline-block;
}

div.info p {
    padding: 0 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

div.info p > span {
    font-weight: normal;
    text-indent: 20px;
    display: inline-block;
}



#singleBookBg {
    background-color: #ccc;
}

#holderOfBookParts {
    width: 80%;
    margin: 50px auto;
    height:600px;
    background-color: #fff;
}

.message {
    width: 40%;
    margin: 50px auto 0;
    text-align: center;
    /*z-index: 1000;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    top: 50px;
    background: rgba(255,255,255,0.8);
    border: 1px solid #000;
    border-radius: 10px;
    color: forestgreen;
    font: italic small-caps normal 22px/150% Arial, Helvetica, sans-serif;
    display: none;
    padding: 20px;
}

#allPartsOfTheBook {
    position: relative;
    height: 100%;
    width: 100%;
}

#holdTheImageStuff {
    width: 55%;
    height: 100%;
    display: inline-block;
}

#theRemainderOfTheBook {
    width: calc(100% - 55%);
    display: inline-block;
    float: right;
    height: 100%;
    margin: 0;
}

#theRemainderOfTheBook p {
    font: italic small-caps normal 22px/150% Arial, Helvetica, sans-serif;
    width: 100%;
    text-indent: 20px;
}

#theRemainderOfTheBook p input {
    border-radius:0;
    border: 0;
    margin: 0;
    text-indent: 20px;
    width:75%;
}

.bookNo {
    padding: 3px;
    width: 22px;
    height:22px;
}

.bookNo:hover {
    cursor: pointer;
    opacity: 1;
    animation: flash 1.5s;
}

.bookNo span {
    width:20px;
    height: 20px;
    border:1px solid #000;
    text-align: center;
    display: inline-block;
    padding: 3px 1.5px 0;
}

.bookNo + div {
    width: 80%;
    height:160px;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: auto;
}

.textareaPages span {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: grey;
    font-size: 16px;
    font-family: sans-serif, Arial;
    outline: none;
    border: 2px solid #ddd;
    text-indent: 7px;
    display: block;
    background-color: #fff;
    line-height: 1.5;
}

.textareaPages textarea {
    width: 100%;
    height: 100%;
    resize: none;
    line-height: 1.5;
}

#backToMain {
    position: absolute;
    /*right: 140px;*/
    bottom: 25px;
    /*border-radius:10px;*/
}

.bookNo:first-of-type {
    margin-left:10px;
}

#bookEditButton {
    position: absolute;
    bottom: 25px;
    right: 25px;
    border-radius: 10px;
    width: 96px;
    cursor: pointer;
    outline:none;
}

.onlyReadable {
    color: grey;
    border-radius: 0;
    outline: 0;
    border: 0;
    margin: 0;
    text-indent: 20px;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif, Arial;
}

#allNotCoverImages form {
    display: inline-block;
    height: 80px;
    width: 100px;
    padding: 5px 8px;
}

#allNotCoverImages form img {
    height: 80px;
    width: 100px;
}

#bookNo {
    position: relative;
    width: 100%;
    display: flex;
    height: 240px;
}

#theRemainderOfTheBook p input.edit {
    border-bottom: 1px solid #ccc;
}

#allPartsOfTheBook:after {
    content: "";
    clear: both;
    display: table;
}

.bookImage {
    width: 100%;
    height:400px;
}

#allNotCoverImages {
    /*width: inherit;*/
    height: 199px;
    overflow: hidden;
    margin: -3px 0 0 0;
}

#allNotCoverImages form {
    position: relative;
}

#allNotCoverImages form span {
    display: none;
}

#allNotCoverImages form span.cover {
    display: inline-block;
    color: orange;
    position: absolute;
    text-align: center;
    left:0;
    right:0;
}

.pagination {
    text-align: center;
    margin: 10px auto;
}

.pagination strong, .pagination a {
    border:1px solid #000;
    padding: 1px 6px;
    margin: 0 2px;
}

.pagination strong {
    background: #ccc;
}

.controlError {
    color: red;
    max-width: 93%;
}

.green {
    color: forestgreen!important;
}

.active {
    color: blue;
}

.center {
    margin: 0 auto;
    width: 80%;
}

#invalidPage {
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.center h2 {
    margin: 20px auto 0;
    text-align: center;
}

/* Flashing */
.allNotCoverImages:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
/* Flashing End*/