<div class="popup" data-popup="addBook">
	<div class="popup-inner">
		<h2>New Book</h2>
		<hr>
		<form id="newBooks" method="POST" autocomplete="off" enctype="multipart/form-data" action="#" >
			<div>
				<label for="title">Title:</label><br />
				<input type="text" id="title" name="title" placeholder="Title" required />
			</div>
			<div>
				<label for=genre>Genre:</label><br />
				<input type="text" id="genre" name="genre" placeholder="Genre" required />
			</div>
			<div>
				<label for="author">Author:</label><br />
				<input type="text" id="author" name="author" placeholder="Author" required />
			</div>
			<div>
				<label>Pages:</label>
				<input type="button" name="addPage" value="New Page" />
				<input type="button" name="removePage" disabled="disabled" value="Clear" />
				<input type="search" name="search"  placeholder="Go to page"/>
			</div>
			<div class="holdAllPage">
				<div id="1" style="z-index: 0;" class="holdPage">
					<span>Page 1</span>
					<textarea class="textarea" name="pages[]"></textarea>
					<input type="hidden" name="page1" />
				</div>
			</div>
			<label>Cover:</label><br>
			<input type="file" name="userFiles[]" multiple="" value="Choose Image" /><br>
			<div class="input">
				<div>
					<input type="submit" name="createBook" value="Create Book"/>
				</div>
			</div>
			<button id="backToMain"><a href="#">Back to main!</a></button>
		</form>
	</div>
</div>
