

    <div id="success"></div>
    <div id="usersAcc">
        <div id="profileContainer">
            <img class="profileImage" src="assets/images/rsz_profile.png" />;
        </div>
        <a href='#login'><span>Login</span></a>
        <span> | </span>
        <a href='#signIn'><span>Sign up</span></a>
    </div>
    <div id="container">
        <div id="holdH">
            <h1>Welcome to our book creation platform!</h1>
            <div class="addBook">
                <a href="#addBook">
                    <span class="span"> + </span>
                    <span> Book </span>
                </a>
            </div>
        </div>
    </div>
