
	<div class="container">
		<h2>User Registration</h2>
		<hr>
		<form id="addUser" autocomplete="off">
			<div class="input">
				<div>
					<input type="text" id="name" name="name" placeholder="Name" required />
					<p><span class="help-block"></span></p>
				</div>
			</div>
			<div class="input">
				<div>
					<input type="email" id="email" name="email" placeholder="Email" required />
					<p><span class="help-block"></span></p>
				</div>
			</div>
			<div class="input">
				<div>
					<input type="password" id="password" name="password" placeholder="Password" required />
					<p><span class="help-block"></span></p>
				</div>
			</div>
			<div class="input">
				<div>
					<input type="password" id="confPassword" name="confPassword" placeholder="Confirm password" required />
					<p><span class="help-block"></span></p>
				</div>
			</div>
			<div id="radioGender">
				<div>
					<label>
						<input type="radio" name="gender" value="Male" />Male
					</label>
				</div>
				<div>
					<label>
						<input type="radio" name="gender" value="Female" />Female
					</label>
				</div>
			</div>
			<div class="input">
				<div>
					<input type="submit" name="registerSubmit" value="Submit"/>
				</div>
			</div>
		</form>
		<p>Already have an account login <a href="#"><span>here</span></a></p>
	</div>
